/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Container and Hero Section */
.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.content h6 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 1s;
}

.content h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 50px;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideDown 1s forwards;
    animation-delay: 1.5s;
}

.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    opacity: 0;
    animation: fadeInUp 1s forwards;
    animation-delay: 2s;
    transition: 0.3s;
}

.content a:hover {
    background-color: #fff;
    color: #000;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: rgb(176, 171, 171);
    text-decoration: none;
    font-weight: 400;
}

.navbar .logo {
    height: 30px;
    width: 65px;
}

.navbar ul li a:hover {
    color: #525353;
}

/* Sections */
section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* About Us Section */
#about {
    background-color: #ffffff;
    color: #000000;
    padding: 100px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Our Services Section */
#mission {
    background-color: #0D0E13;
    color: white;
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#mission ul {
    list-style-type: none;
    padding-left: 0;
}

.mission-item {
    flex: 1 1 45%;
    margin: 20px;
    max-width: 500px;
    position: relative;
}

.mission-item img {
    width: 100%;
    border-radius: 15px;
    height: auto;
}

.mission-item h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 20px;
}

.mission-item p {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
}

/* FAQ Section */
#faq {
    align-items: center;
    color: #000000;
    padding: 100px 20px;
    width: 800px;
    margin: 0 auto;
}

#faq h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.faq-item {
    border-top: 1px solid #ddd;
    padding: 20px 0;
}

.faq-item:last-child {
    border-bottom: 1px solid #ddd;
}

.faq-item h3 {
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.faq-item p {
    margin-top: 10px;
    display: none;
    font-size: 1rem;
    line-height: 1.6;
}

.faq-item.active p {
    display: block;
}

.faq-item.active h3 {
    font-weight: 700;
}

/* Contact Section */
#contact {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 80px 50px;
    position: relative;
}

#contact h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

#contact a {
    padding: 15px 30px;
    background-color: white;
    border-radius: 50px;
    color: #0e0e0e;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#contact a:hover {
    background-color: #0e0e0e;
    color: white;
}

#contact .icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

#contact .background-arrow {
    position: absolute;
    bottom: -10px;
    right: 20px;
    font-size: 8rem;
    color: white;
    opacity: 0.2;
    transform: rotate(45deg);
}

/* Packages Section */
.packages-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.card {
    width: 22%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-content ul {
    list-style-type: none;
    padding-left: 0;
}

.card-content ul li {
    margin-bottom: 10px;
    font-weight: 300;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}

.footer-text {
    color: white;
    font-size: 18px;
    white-space: nowrap;
    position: relative;
}

.footer-text.left {
    text-align: left;
    color: rgb(176, 171, 171);
    animation: scroll-word 3s ease-in-out infinite;
}

.footer-text.center {
    text-align: center;
    color: #ddd;
    flex-grow: 1;
    text-align: center;
    animation: scroll-word 3s ease-in-out infinite;
}

.footer-text.right {
    text-align: right;
}

@keyframes scroll-word {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    25% {
        transform: translateY(-100%);
        opacity: 0;
    }
    75% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
